<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ffos.tim4m.glagopedija">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="ffos.tim4m.glagopedija.Activity.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ffos.tim4m.glagopedija.Activity.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="ffos.tim4m.glagopedija.Activity.ActivityGrupe"
            android:parentActivityName="ffos.tim4m.glagopedija.Activity.MainActivity"/>
        <activity
            android:name="ffos.tim4m.glagopedija.Activity.ActivityKategorije"
            android:parentActivityName="ffos.tim4m.glagopedija.Activity.ActivityGrupe" />
        <activity
            android:name="ffos.tim4m.glagopedija.Activity.ActivityZapisa"
            android:parentActivityName="ffos.tim4m.glagopedija.Activity.ActivityKategorije" />
        <activity
            android:name="ffos.tim4m.glagopedija.Activity.ActivityDetalji"
            android:parentActivityName="ffos.tim4m.glagopedija.Activity.ActivityZapisa" />
        <activity
            android:name="ffos.tim4m.glagopedija.Menu.ONama"
            android:parentActivityName="ffos.tim4m.glagopedija.Activity.ActivityGrupe" />
        <activity
            android:name="ffos.tim4m.glagopedija.Menu.OAplikaciji"
            android:parentActivityName="ffos.tim4m.glagopedija.Activity.ActivityGrupe" />
        <activity
            android:name="ffos.tim4m.glagopedija.Menu.PopisLiterature"
            android:parentActivityName="ffos.tim4m.glagopedija.Activity.ActivityGrupe" />
        <activity
            android:name="ffos.tim4m.glagopedija.Activity.ActivityPretraziZapise"
            android:parentActivityName="ffos.tim4m.glagopedija.Activity.ActivityGrupe"/>
    </application>

</manifest>